# Upstash Redis → Dashboard → Connect → Node.js → ioredis
REDIS_URL=rediss://default:TOKEN@HOST.upstash.io:6379

# Railway/Render otomatik doldurur
PORT=8080

# 'production' | 'development'
NODE_ENV=production

# debug | info | warn | error
LOG_LEVEL=info
